.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.header__logo{
    height: 35px;
    object-fit: contain;
}

.header__icon{
    margin-right: 10px;

} 

.header__left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}

.header__mid > input{
    flex: 1;
    border: none;
    outline: none;
}

.header__input{
    width: 50px !important; 
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
